<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockpainterssearch</name>
	<displayName><![CDATA[Painters search block]]></displayName>
	<version><![CDATA[1.5.3]]></version>
	<description><![CDATA[Adds a painters search to your website.]]></description>
	<author><![CDATA[Vadim Vizirenko]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>